
.caixa {
position: absolute;
vertical-align: center;
width: 900px;
height: 660px;
}

.bloco {
display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: 20% 20% 20% 20% 20%;

justify-content: center;
font-family: 'Arial', sans-serif;

grid-column: -5 / -3;
grid-row: -5 / -2;
background-color: rgb(251, 253, 255);
}
.t1{
    color: rgb(244, 247, 249);
}

.b1{
    vertical-align: center;
    background-color: rgb(251, 253, 255);
    text-align: center; 
    text-decoration: underline;
}

.sedans {
    display: grid;
   
    
    grid-column: -5;
    grid-row: 3 / 8;
    background-color: rgb(255, 136, 0);
}
.suvs {
    display: grid;
   
    grid-column: -4;
    grid-row: 3 / 8;
    background-color: rgb(27, 79, 78);
}
.luxury {
    display: grid;
    
    grid-column: -3;
    grid-row: 3 / 8;
    background-color: rgb(0, 46, 34);

}